{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load socialaccount %}
{% providers_media_js %}


{% block content %}
<section class="container-fluid vh-100 d-flex flex-column justify-content-center align-items-center" id="sociallogin">
  <div class="container row d-flex flex-column justify-content-center align-items-center">
    <div
      class="col-12 col-md-10 col-lg-5 bg-light py-5 px-3 d-flex flex-column justify-content-center align-items-center shadow">

      {% if process == "connect" %}
      {% if provider.name == 'Facebook' %}
      <h3>Sign In with <img src="{% static 'images/facebook-big-icon.svg' %}" alt="Facebook" class="img-fluid"
          width="100px"></h3>
      {% elif provider.name == 'Google' %}
      <h3>Sign In with <img src="{% static 'images/google-big-icon.svg' %}" alt="Google" class="img-fluid"
          width="100px"></h3>
      {% endif %}
      <h3>Connect to {{ provider.name }}</h3>
      <p>You are about to connect a {{ provider.name|lower }} account.</p>
      {% else %}
      {% if provider.name == 'Facebook' %}
      <h3>Sign In with <img src="{% static 'images/facebook-big-icon.svg' %}" alt="Facebook" class="img-fluid"
          width="100px"></h3>
      {% elif provider.name == 'Google' %}
      <h3>Sign In with <img src="{% static 'images/google-big-icon.svg' %}" alt="Google" class="img-fluid"
          width="100px"></h3>
      {% endif %}
      <p>You are about to sign in using a {{ provider.name|lower }} account.</p>
      {% endif %}
      <form class="col-10" method="post">
        {% csrf_token %}
        <div class="container">
          <div class="row ">
            <div class="col-md-6">
              <button type="submit" class="btn btn-secondary text-light col-12">Continue</button>
            </div>
            <div class="col-md-6">
              <a class="btn btn-outline-danger col-12" href="{% url 'homepage' %}">Cancle</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}