{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block title %}
Couch Finder | Confirm Email Address
{% endblock %}


{% block content %}
<section class="container-fluid min-vh-100 d-flex flex-column justify-content-center align-items-center main-bg"
    id="login">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-sm-8">
                <div class="container d-flex align-items-center justify-content-center">
                    <div class="col-6 mb-3">
                        <img src="{% static 'images/logo.svg' %}" alt="Application logo" class="img-fluid">
                    </div>
                </div>
                <div class="shadow">
                    <div class="card-body p-3 bg-light text-center">
                        <div class="row align-items-center justify-content-lg-around">
                            <div class="col-12 text-center">
                                <h3 class="my-3">Confirm Email Address</h3>

                                {% if confirmation %}

                                {% if can_confirm %}
                                <p>
                                    Please confirm that <a href="mailto:{{ email }}">
                                        {{ confirmation.email_address.email }}
                                    </a>
                                    is an email address for user {{ confirmation.email_address.user }}.
                                </p>

                                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                                    {% csrf_token %}
                                    <button type="submit">Confirm</button>
                                </form>
                                {% else %}
                                <p>Unable to confirm {{ email }} because it is already confirmed by a
                                    different account.</p>
                                {% endif %}

                                {% else %}

                                {% url 'account_email' as email_url %}

                                <p>This email confirmation link expired or is invalid. Please
                                    <a href="{{ email_url }}" class="text-danger text-decoration-none">
                                        issue a new email confirmation request
                                    </a>.
                                </p>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}