{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}


{% block content %}
<section class="container-fluid vh-100 d-flex flex-column justify-content-center align-items-center" id="password-reset-done">
    <div class="container row d-flex flex-column justify-content-center align-items-center">
        <div
            class="col-12 col-md-10 col-lg-8 bg-light py-5 px-3 d-flex flex-column justify-content-center align-items-center shadow position-relative email-send-card">
            <h3 class="text-secondary">Password Reset Mail Send!</h3>

            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p class="text-primary text-center mt-3">We have sent you an email. If you have not received it please
                check your spam folder. Otherwise contact
                us if you do not receive it in a few minutes.</p>
            <img class="position-absolute top-0 start-0 translate-middle-y mail-send-img img-fluid"
                src="{% static 'images/paper-plane.svg' %}" alt="email send image">
                <a class="btn btn-secondary text-light form-group" href="{% url 'homepage' %}">Return to Homepage</a>
        </div>
    </div>
</section>
{% endblock %}