{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}Couch Finder | Password Reset{% endblock %}

{% block content %}
<section class="container-fluid min-vh-100 d-flex flex-column justify-content-center align-items-center main-bg"
    id="login">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="container d-flex align-items-center justify-content-center">
                    <div class="col-12 mb-3">
                        <img src="{% static 'images/logo.svg' %}" alt="Application logo" class="img-fluid">
                    </div>
                </div>
                <div class="shadow">
                    <div class="card-body p-3 bg-light text-center">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-12 text-center">
                                <h5 class="my-3">Password Reset</h5>
                                {% if user.is_authenticated %}
                                {% include "account/snippets/already_logged_in.html" %}
                                {% endif %}

                                <p class="text-muted">Forgotten your password? Enter your email address below, and we'll send you
                                    an email allowing you to reset it.</p>

                                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset text-start">
                                    {% csrf_token %}
                                    {{ form | crispy }}
                                    <input class="btn btn-primary text-light form-group col-12 my-3" type="submit" value="{% trans 'Reset My Password' %}">
                                </form>

                                <p class="text-muted small">*Please <a class="text-danger text-decoration-none" href="#">contact us</a> if you have any trouble resetting your password.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}