{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section class="container-fluid h-100 d-flex flex-column justify-content-start align-items-center py-5 main-bg"
    id="password-change">
    <div class="container text-center">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="container d-flex align-items-center justify-content-center">
                    <div class="col-12 mb-3">
                        <img src="{% static 'images/logo.svg' %}" alt="Application logo" class="img-fluid">
                    </div>
                </div>
                <div class="shadow">
                    <div class="card-body p-3 bg-light">
                        <div class="row align-items-center justify-content-lg-around">
                            <div class="col-12">
                                <h4 class="text-center text-secondary my-4">
                                    {% if token_fail %}
                                    {% trans "Bad Token" %}
                                    {% else %}
                                    {% trans "Change Password" %}
                                    {% endif %}
                                </h4>
                                {% if token_fail %}
                                {% url 'account_reset_password' as passwd_reset_url %}
                                <p>The password reset link was invalid, possibly because it has already
                                    been used. Please request a
                                    <a class="text-danger small text-decoration-none ms-auto"
                                        href="{{ passwd_reset_url }}">
                                        new password reset
                                    </a>.
                                </p>
                                {% else %}
                                <form method="POST" action="{{ action_url }}"
                                    class="password_reset_from_key text-start">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <input class="btn btn-primary text-light form-group col-12 my-3" type="submit"
                                        name="action" value="{% trans 'Change Password' %}" />
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}