{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block content %}
<section class="container-fluid vh-100 d-flex flex-column justify-content-center align-items-center" id="password-reset">
    <div class="container row d-flex flex-column justify-content-center align-items-center">
        <div class="text-center m-0">
            <img class="img-fluid" src="{% static 'images/enter-email-page-image.svg' %}"
                alt="password reset page image" width="500">
        </div>
        <div
            class="col-12 col-md-10 col-lg-5 bg-light py-5 px-3 d-flex flex-column justify-content-center align-items-center shadow">


            <h3>Password Reset</h3>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p class="text-primary text-center">Enter your e-mail address below, and we'll send you an e-mail allowing
                you to reset your password.</p>
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset col-12">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-secondary text-light form-group col-12 mb-5"
                    value="Reset My Password">
            </form>
            <p class="text-muted text-center mt-3 mb-0 footnote">*Please contact us if you have any trouble resetting your
                password.
            </p>
        </div>

    </div>
</section>
{% endblock %}