/* Generic styling for all screens */
/* Font for home page subheading */
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@800&display=swap");
/* Main background image */
.main-bg {
  background-image: linear-gradient(#ffffffc7, #ffffff6e),
    url("https://res.cloudinary.com/couchfinder/image/upload/v1693957006/main-bg_lsjoui.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: rgb(194, 196, 215);
  font-size: 1em;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid rgb(193, 197, 206);
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}

.progress {
  height : 25px;
}
.progress::-webkit-progress-bar {
  background-color: #f3f8f9;
}
.progress::-webkit-progress-value {
  background-color: #e76f51;
}

.bi-three-dots-vertical {
  cursor: pointer;
}

.profile_search_page_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

/* Style for screens below 576px */
/* Start Navbar section */
.logo {
  max-width: 5em;
}

/* Start Hero section */
.hero-logo {
  width: 80vw;
}

.subheading {
  font-family: "Merienda", cursive;
  font-size: 1em;
}


.select2-selection__clear {
  display: none;
}

@media (min-width: 576px) {
  /* Style for screens between 576 pixels and 767 pixels */
  /* Start Hero section */
  .subheading {
    font-size: 1.5em;
  }
  /* End Hero section */
}

@media (min-width: 768px) {
  /* Style for screens between 768 pixels and 991 pixels */
  /* Start Hero section */
  .subheading {
    font-size: 2em;
  }
  /* End Hero section */
}

@media (min-width: 992px) {
  /* Style for screens between 992 pixels and 1199 pixels */
  /* Start Navbar section */
  #mainNav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
  }
  #mainNav.navbar-shrink .navbar-brand svg,
  #mainNav.navbar-shrink .navbar-brand img {
    height: 1.5rem;
  }
  /* End Navbar section */
  /* Start Hero section */
  .hero-logo {
    width: 55vw;
  }

  .subheading {
    font-size: 1.5em;
  }
  /* End Hero section */
}

@media (min-width: 1200px) {
  /* Style for 1200px and above screens */

  /* Start Navbar section */
  .logo {
    max-width: 8em;
  }
  /* Start Hero section */
  .hero-logo {
    width: 45vw;
  }

  .subheading {
    font-size: 1.5em;
  }
}
