{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<section class="container-fluid min-vh-100 d-flex flex-column justify-content-start align-items-center py-5 main-bg"
    id="user_profile">
    <div class="container pt-sm-3 pt-md-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="col">
                    <div class="container bg-white py-3 px-5 border">
                        <div class="container-fluid card-body profile-card pt-2 d-flex flex-column align-items-center">
                            <div class="container d-flex flex-column justify-content-center align-items-center gap-1">
                                <p class="col-8 col-md-5 col-lg-8 bg-danger text-light text-center py-2 rounded">
                                    {{ profile.couch_status|title }}
                                </p>
                                <form method="post" enctype="multipart/form-data" id="updateProfileForm">
                                    {% csrf_token %} {% if profile.image %}
                                    <div
                                        class="form-group position-relative text-center profile-picture_update-page-container">
                                        <img src="{{ profile.image.url }}" alt="profile picture"
                                            class="profile-picture_update-page img-fluid mb-4" />
                                        {% if request.user == profile.user %}
                                        <input type="file" name="profile_picture" id="id_profile_picture"
                                            class="d-none" />
                                        <label for="id_profile_picture"
                                            class="btn btn-primary text-light col-10 position-absolute top-50 start-50 translate-middle update-img-btn opacity-0">
                                            <i class="bi bi-upload me-2"></i>
                                            Upload
                                        </label>
                                        {% endif %}
                                    </div>
                                    {% else %}
                                    <img src="https://res.cloudinary.com/couchfinder/image/upload/v1694623533/placeholder_ceudwk.svg"
                                        alt="profile picture" class="mb-4 col-12" />
                                    {% endif %}
                                </form>
                                <p class="my-1">
                                    {{ profile.user.first_name }} {{ profile.user.last_name }}
                                </p>
                                <p class="m-1 small">
                                    <i class="bi bi-geo-alt-fill me-2 text-danger"></i>
                                    {{ profile.get_location|default:"Not specified" }}
                                </p>
                                <p class="m-0 small">
                                    Last Login: {{ profile.user.last_login|date:"F j, Y" }}
                                </p>
                                <!-- Add link to whatsapp -->
                                <a href="https://wa.me/{{ profile.phone_number }}"
                                    class="text-decoration-none btn btn-primary text-light" target="_blank"
                                    rel="noopener">
                                    <i class="bi bi-whatsapp me-2"></i>
                                    {{ profile.phone_number }}
                                    Send Message
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="mt-5 mt-lg-0">
                    <div class="container shadow py-3 px-3 bg-white">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <a class="text-decoration-none" href="#reviews">
                                    Reviews
                                    <i class="bi bi-hand-thumbs-up-fill"></i>
                                </a>
                            </div>
                            <hr class="hr text-body-tertiary mx-auto">
                            <div class="tab-content pt-2">
                                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                    <div class="row">
                                        <p class="fw-bold text-muted small py-0 my-0">About Me:</p>
                                        <p class="text-secondary">{{ profile.bio }}</p>
                                        <hr class="hr text-body-tertiary mx-auto">
                                    </div>
                                    <div class="row">
                                        <p class="fw-bold text-muted small py-0 my-0">
                                            Member Since:
                                        </p>
                                        <p class="text-secondary">
                                            {{ profile.user.date_joined|date:"F j, Y" }}
                                        </p>
                                        <hr class="hr text-body-tertiary mx-auto" />
                                    </div>
                                    <div class="row">
                                        <p class="fw-bold text-muted small py-0 my-0">
                                            Occupation:
                                        </p>
                                        <p class="text-secondary">{{ profile.occupation|title }}</p>
                                        <hr class="hr text-body-tertiary mx-auto" />
                                    </div>
                                    <div class="row">
                                        <p class="fw-bold text-muted small py-0 my-0">City:</p>
                                        <p class="text-secondary">
                                            {{ profile.city.name|default:"Not specified" }}
                                        </p>
                                        <hr class="hr text-body-tertiary mx-auto" />
                                    </div>
                                    <div class="row">
                                        <p class="fw-bold text-muted small py-0 my-0">
                                            State/Region:
                                        </p>
                                        <p class="text-secondary">
                                            {{ profile.region.name|default:"Not specified" }}
                                        </p>
                                        <hr class="hr text-body-tertiary mx-auto" />
                                    </div>
                                    <div class="row">
                                        <p class="fw-bold text-muted small py-0 my-0">Country:</p>
                                        <p class="text-secondary">
                                            {{ profile.country.name|default:"Not specified" }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-5" id="reviews">
                    <div class="col-12">
                        <div class="container shadow py-3 px-3 px-md-5 bg-white">
                            <p class="nav-link">
                                User Reviews
                                <!-- Count the reviews -->
                                <span class="badge rounded-pill bg-danger text-light">
                                    {{ reviews|length }}
                                </span>
                            </p>
                            <hr>
                            {% if reviews %}
                            {% for review in reviews %}
                            <div class="container m-0 px-0">
                                <div class="p-3 review bg-light">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a class="text-decoration-none text-secondary" href="">
                                            <img class="rounded-circle shadow-1-strong me-3"
                                                src="{{ review.user.profile.image.url|default:'https://res.cloudinary.com/couchfinder/image/upload/v1694623533/placeholder_ceudwk.svg'}}"
                                                alt="avatar" width="50" height="50" />
                                        </a>
                                        <div class="d-flex w-100 align-items-start justify-content-between">
                                            <div class="container">
                                                <a class="text-secondary text-decoration-none mb-1 ms-0" href="">
                                                    {{review.user }}
                                                </a>
                                                <p class="small my-0 text-muted">{{ review.created_at|date:"F j, Y" }}
                                                </p>
                                            </div>
                                            {% if request.user == review.user %}
                                            <div class="dropstart">
                                                <i class="bi bi-three-dots-vertical border rounded-circle p-1 d-flex align-items-center justify-content-center"
                                                    data-bs-toggle="dropdown"></i>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a class="dropdown-item"
                                                            href="{% url 'profiles:update-review' pk=review.pk %}">
                                                            <i class="bi bi-trash3 me-2 text-primary"></i>
                                                            Edit
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="{% url 'profiles:delete-review' pk=review.pk %}">
                                                            <i class="bi bi-pencil-square me-2 text-danger"></i>
                                                            Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <hr class="text-muted">
                                    <p class="my-0">
                                        {{ review.content }}
                                    </p>
                                </div>
                                <div class="small d-flex justify-content-between mt-2">
                                    <a href="#!" class="d-flex align-items-center text-decoration-none ms-1">
                                        <i class="bi bi-heart me-3 text-danger small"></i>
                                        <p class="m-0 me-0 small">{{review.number_of_likes}} Like</p>
                                    </a>
                                </div>
                                <hr>
                            </div>
                            {% endfor %}
                            {% else %}
                            <p class="text-secondary">No reviews yet!</p>
                            {% endif %}

                            {% if request.user != profile.user %}
                            <form method="post">
                                {% csrf_token %}
                                <div class="card-footer py-3 border-0">
                                    <div class="d-flex w-100">
                                        <div class="form-outline w-100">
                                            {{ review_form|crispy }}
                                        </div>
                                    </div>
                                    <div class="mt-2 pt-1 ms-0 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary btn-sm px-3 text-light me-2">
                                            Post
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm px-3">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}