{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<section class="container-fluid min-vh-100 d-flex flex-column justify-content-center align-items-center py-5"
    id="user_profile">
    <div class="container pt-sm-3 pt-md-5">
        <div class="row ">
            <div class="col-lg-4 order-1">
                <div class="container shadow py-3 px-5 bg-secondary">
                    <div class="container-fluid card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <div class="container d-flex flex-column justify-content-center align-items-center gap-1">
                            {% if request.user.customuserprofile.profile_picture %}
                            <img src="{{ request.user.customuserprofile.profile_picture.url }}" alt="Profile picture"
                                class="profile-page-image img-fluid rounded-circle mb-4">
                            {% else %}
                            <img src="{% static 'images/profile-img.png' %}" alt="default profile picture icon"
                                class="profile-page-image img-fluid rounded-circle mb-4" width="120">
                            {% endif %}
                            <h4 class="text-light">{{ profile.user }}</h4>
                            <p class="text-primary fw-semibold">{{ profile.get_location }}</p>
                            <p class="mt-1 text-uppercase text-light col-12 text-center py-2 bg-danger">
                                {% if profile.profile_status == 'hosting' %}
                                Accepting Guests
                                {% elif profile.profile_status == 'travelling' %}
                                Travelling
                                {% else %}
                                Busy at the moment
                                {% endif %}
                            </p>
                            <p class="m-0 text-muted small">Last Login: {{ last_login }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 mt-5 mt-lg-0 order-2">
                <div class="container shadow py-3 px-3 px-lg-5">
                    <div class="card-body">
                        {% for message in messages %}
                        <div class="alert alert-secondary" data-timeout="3000" id="msg" role="alert">
                            {{ message | safe }}
                        </div>
                        {% endfor %}
                        <ul class="nav nav-tabs nav-tabs-bordered small">
                            {%if request.user == user%}
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab"
                                    data-bs-target="#profile-overview">Overview</button>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'update_profile' %}" class="nav-link">Edit Profile</a>
                            </li>

                            <li class="nav-item">
                                <a href="{% url 'account_change_password' %}" class="nav-link">Change Password</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">Delete Account</a>
                            </li>
                            {%endif%}
                        </ul>
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active profile-overview pt-5" id="profile-overview">
                                <div class="row">
                                    <p class="col-lg-3 col-md-4 text-muted small">About Me:</p>
                                    <p class="col-lg-9 col-md-8">{{ profile.bio }}</p>
                                    <hr class="hr text-body-tertiary mx-auto">
                                </div>
                                <div class="row">
                                    <p class="col-lg-3 col-md-4 text-muted small">Member Since:</p>
                                    <p class="col-lg-9 col-md-8 fw-bold text-primary">{{ date_joined }}</p>
                                    <hr class="hr text-body-tertiary mx-auto">
                                </div>
                                <div class="row">
                                    <p class="col-lg-3 col-md-4 text-muted small">Occupation:</p>
                                    <p class="col-lg-9 col-md-8 fw-bold text-primary">{{ profile.occupation }}</p>
                                    <hr class="hr text-body-tertiary mx-auto">
                                </div>
                                <div class="row">
                                    <p class="col-lg-3 col-md-4 text-muted small">City:</p>
                                    <p class="col-lg-9 col-md-8 fw-bold text-primary">{{ profile.city.name }}</p>
                                    <hr class="hr text-body-tertiary mx-auto">
                                </div>
                                <div class="row">
                                    <p class="col-lg-3 col-md-4 text-muted small">State:</p>
                                    <p class="col-lg-9 col-md-8 fw-bold text-primary">{{ profile.region.name }}</p>
                                    <hr class="hr text-body-tertiary mx-auto">
                                </div>
                                <div class="row">
                                    <p class="col-lg-3 col-md-4 text-muted small">Country:</p>
                                    <p class="col-lg-9 col-md-8 fw-bold text-primary">{{ profile.country.name }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 ms-lg-auto order-3">
                <div class="row mt-5">
                    <div class="col-12 ">
                        <div class="container shadow py-3 px-5">
                            <p class="nav-link text-muted" id="reviews">User Reviews</p>
                            <hr>
                            <div class="card-body">
                                <div class="d-flex flex-start align-items-center">
                                    <img class="rounded-circle shadow-1-strong me-3"
                                        src="{% static 'images/profile-img.png' %}" alt="avatar" width="60"
                                        height="60" />
                                    <div>
                                        <h6 class="fw-bold text-primary mb-1">Lily Coleman</h6>
                                        <p class="text-muted small mb-0">
                                            Shared publicly - Jan 2020
                                        </p>
                                    </div>
                                </div>
                                <p class="mt-3 mb-4 pb-2">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip consequat.
                                </p>
                                <div class="small d-flex justify-content-start">
                                    <a href="#!" class="d-flex align-items-center me-3">
                                        <i class="far fa-thumbs-up me-2"></i>
                                        <p class="mb-0">Like</p>
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer py-3 border-0">
                                <div class="d-flex flex-start w-100">
                                    <!-- <img class="rounded-circle shadow-1-strong me-3"
                                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar"
                                        width="40" height="40"> -->
                                    <div class="form-outline w-100">
                                        <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                                        <label class="form-label" for="textAreaExample" aria-label="message"></label>
                                    </div>
                                </div>
                                <div class="mt-2 pt-1">
                                    <button type="button"
                                        class="btn btn-secondary btn-sm px-3 text-light me-2">Post</button>
                                    <button type="button" class="btn btn-outline-danger btn-sm px-3">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}