// Font: Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-family-sans-serif: 'Poppins', sans-serif;
$primary: #2a9d8f;
$secondary: #264653;
$success: #38d1bf;
$info: #f4a261;
$warning: #f4a261;
$danger: #e76f51;
$light: #f3f8f9;
$dark: #264653;
// Change the color state of the navbar items
$navbar-light-color: $secondary;
$navbar-light-hover-color: $danger;
$navbar-light-active-color: $danger;



// Import SCSS Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";